<!-- flex container displaying children as a column -->
<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">

  <md-toolbar color="primary" class="mat-elevation-z10">
    <md-icon>favorite</md-icon>
    Derek Zoolander's Center for Models Who Can't Find Love
  </md-toolbar>

  <!-- this flex item takes the rest of the screen in height -->
  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" align="end" opened class="mat-elevation-z6">
      <!-- adding some tabs for the details -->
      <md-tab-group>
        <md-tab label="About"></md-tab>
        <md-tab label="Messages"></md-tab>
        <md-tab label="Photos"></md-tab>
      </md-tab-group>
    </md-sidenav>

    <md-grid-list cols="4" rowHeight="250px">
      models here
    </md-grid-list>
  </md-sidenav-container>
</section>
